{% extends 'base.html' %}

{% block content %}
  <h1>About Me</h1>
  <p>
    Hi! My name is Rohan Satapathy and I am a high schooler who writes about his interests in this 
    blog. In this blog, you will find posts on a variety of topics, including:
    <ul>
      <li>Programming - I've been programming for over four years, and my main language is Python.</li>
      <li>Science - Science has always been one of my favorite subjects, especially physics. </li>
      <li>Mathematics - In combination with science, mathematics is also one of my favorite subjects.</li>
      <li>Philosophy - I've gotten into philosophy after taking a "Philosophy of Science" class last year. 
        Although my posts generally won't be about pure philosophy, I will approach most them with a philosophical mindset </li>
      <li>Music - I've played jazz piano for over 10 years, and I am currently in my school's top jazz band.</li>
    </ul>

    My blog posts are generally either short essays explaining my opinions on things or explainers that take you 
    through my journey as I learn more about a subject. I will post once every one or two weeks, so make sure to 
    check back for new posts.
  </p> 

  <hr>

  <h1>About This Website</h1>
  <p>
    I built this website as a summer project to learn about web development. I chose to build this
    website using Flask, a web framework for Python and hosted it on a Raspberry Pi. You 
    can find out more about this website by reading my post on this topic as well as by examining the
    source code, which I've made open source on GitHub.  
  </p>
{% endblock %}