body {
  font-family: Gelasio, sans-serif;
  font-size: 18px;
}

:is(p, ul, ol) {
  line-height: 200%;
  color: var(--bs-body-color);
}

:is(h1, h2, h3, h4, h5, h6), .nav-item, .navbar-brand {
  font-family: Poppins, sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 1rem;
  font-weight: 500;
}

:is(h2, h3, h4, h5, h6) {
  margin-top: 2rem;
}

h1 {
  font-size: 46px;
}

blockquote {
  font-family: Gelasio, sans-serif;
  font-size: 18px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  background-color: var(--bs-tertiary-bg);
  border-left: 4px solid var(--bs-secondary-bg);
  border-radius: 0.3rem;
  font-style: italic;
}

blockquote p {
  margin-bottom: 0rem;
}

pre {
  margin-bottom: 0;
  overflow-y: hidden;
}

code {
  font-family: "Fira Code", monospace;
  font-size: 15px;
  vertical-align: top;
}

.highlight {
  background-color: var(--bs-body-bg);
}

/* Override Pygments dark colors */
.o, .bp, .ow, .nb {
  color: var(--bs-secondary-color) !important;
}

.p {
  font-weight: 400 !important;
}

[data-linenos]:before {
  content: attr(data-linenos);
  color: var(--bs-tertiary-color) !important;
}

img {
  max-height: 20em;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-width {
  max-width: 850px; 
}

.posts-date {
  font-size: 14.5px;
  min-width: 5.3rem;
  padding-top: 0.2rem;
  font-style: italic;
}

.navbar {
  background-color: var(--bs-tertiary-bg);
}

.navbar-brand {
  font-weight: 500;
}

.post-title {
  background-color: var(--bs-tertiary-bg);
}

#theme-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#light-icon, #dark-icon, #auto-icon {
  display: none;
  width: 90%;
  height: 90%;
}

[data-theme="light"] #light-icon {
  display: inline;
}

[data-theme="dark"] #dark-icon {
  display: inline;
}

[data-theme="auto"] #auto-icon {
  display: inline;
}

